Customer support Agent.json
{
  "name": "Customer support Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a customer support and order-taking AI for \"Choudhary Dhaba\".\n\nYour responsibilities:\n- Greet customers politely\n- Answer menu and price questions\n- Suggest popular items\n- Take food orders step-by-step\n- Confirm order details before placing\n- Never assume quantities or items\n- Only sell items marked as available\n- Always calculate total correctly\n- Ask for customer name and phone before finalizing order\n\nRules:\n- Use simple Hinglish\n- Be short and clear\n- Do not hallucinate menu items\n- If item is unavailable, suggest alternatives\n- Confirm order summary before saving\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        32,
        0
      ],
      "id": "76324a26-ae22-42b8-b579-8fcc910f1ba8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -112,
        208
      ],
      "id": "0a7e5e96-5368-4742-bc70-5f119ae7ee93",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "gcSHNRxERVJI8CHJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        48,
        208
      ],
      "id": "ae9fb954-17d5-4d5b-a438-bbc7a06406c5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UGj0uNehyDUw4yLl6yBzLWuJ5wzhLOZSs5u5kyXZ_7A",
          "mode": "list",
          "cachedResultName": "Get Restaurant Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UGj0uNehyDUw4yLl6yBzLWuJ5wzhLOZSs5u5kyXZ_7A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Restorent menu items",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UGj0uNehyDUw4yLl6yBzLWuJ5wzhLOZSs5u5kyXZ_7A/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        272,
        208
      ],
      "id": "9b09453a-e3f0-4119-b238-bfc22b2c405e",
      "name": "Restorents Items",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lXjTHHAAzFDQpMOp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UGj0uNehyDUw4yLl6yBzLWuJ5wzhLOZSs5u5kyXZ_7A",
          "mode": "list",
          "cachedResultName": "Get Restaurant Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UGj0uNehyDUw4yLl6yBzLWuJ5wzhLOZSs5u5kyXZ_7A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 414477351,
          "mode": "list",
          "cachedResultName": "Customers orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UGj0uNehyDUw4yLl6yBzLWuJ5wzhLOZSs5u5kyXZ_7A/edit#gid=414477351"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_item_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('order_item_id', ``, 'string') }}",
            "order_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('order_id', ``, 'string') }}",
            "menu_item_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('menu_item_id', ``, 'string') }}",
            "quantity": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('quantity', ``, 'string') }}",
            "price": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('price', ``, 'string') }}",
            "item_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('item_name', ``, 'string') }}",
            "customers_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customers_name', ``, 'string') }}",
            "order_date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('order_date', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "order_item_id",
              "displayName": "order_item_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "menu_item_id",
              "displayName": "menu_item_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "item_name",
              "displayName": "item_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customers_name",
              "displayName": "customers_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "order_date",
              "displayName": "order_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        448,
        192
      ],
      "id": "e71c9c29-562b-4c25-806d-7274a6e37088",
      "name": "Customers Orders",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lXjTHHAAzFDQpMOp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -288,
        0
      ],
      "id": "7c2d4593-631d-40ab-b8c2-f11f2fb0814c",
      "name": "Telegram Trigger",
      "webhookId": "ad148fa6-e926-4a5d-a0d1-da90f61de0d4",
      "credentials": {
        "telegramApi": {
          "id": "kSbHP1NUngWRBi8x",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        0
      ],
      "id": "816ed199-9bc1-42b2-bfb2-2926d5945d1e",
      "name": "Send a text message",
      "webhookId": "b478e5fc-1339-4b0b-953b-5764d9136bc2",
      "credentials": {
        "telegramApi": {
          "id": "kSbHP1NUngWRBi8x",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Restorents Items": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Customers Orders": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "035dd0a5-eb55-42dd-a4eb-0af0bc170f7e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "54424218ab4202e963a2360e843c0f21658506f097fed0b0d1cc51c6511c4ebc"
  },
  "id": "vo1enpgkkt7q3BKq",
  "tags": []
}